# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# ML files
*.pt
*.pth
*.onnx
*.pkl
*.task
models/*.json

# Data
data/raw/
data/processed/

# Logs & Captures
logs/
captures/
aura_capture_*.jpg
*.avi
*.db
data/*.db

# Node
node_modules/
web/node_modules/

